<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				CS NET
			</a>
		</div>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li>
				<a href="#" class="nav-link px-2 link-secondary">Acceuil</a>
			</li>
			<li>
				<a href="#" class="nav-link px-2">Qui somme-nous ?</a>
			</li>
			<li>
				<a href="#" class="nav-link px-2">Nos prestations</a>
			</li>

			<li>
				<a href="#" class="nav-link px-2">Contact</a>
			</li>
			<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Espace Admin
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="">Dashboard</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Editer un devis</a></li>
							<li><a class="dropdown-item" href="">Les signature</a></li>
							
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Espace Admin
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="">Dashboard</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Editer un devis</a></li>
							<li><a class="dropdown-item" href="">Les signature</a></li>
							
						</ul>
					</li>
	

		</ul>

		<div class="col-md-3 text-end">
			<button type="button" class="btn btn-outline-primary me-2">Login</button>
			<button type="button" class="btn btn-primary">Sign-up</button>
		</div>
	</header>
</div>
