<header>
    <nav>
		<div class="logo">
			<img src="{{asset('images/logo.png')}}" alt="logo-cs-net" width="50" height="50">
        	<span><a href="#"> CS NET</a></span>
		</div>
        <ul id="nav-links">
            <li><a href="#presentation">Présentation</a></li>
            <li><a href="#histoire">Histoire</a></li>
            <li><a href="#competences">Compétences</a></li>
            <li><a href="#projets">Projets</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#contact">S'inscrire</a></li>
            <li><a href="#contact">Se connecter</a></li>
        </ul>
        <i class="fa-solid fa-bars"></i>
    </nav>
</header>