{% extends 'base.html.twig' %}

{% block title %}CS NET | Modifier Mot de passe{% endblock %}

{% block body %}
	<main>

		<h2>Modifier Mot de passe</h2>

        {{form(form)}}

	</main>
{% endblock %}
