{% extends 'base.html.twig' %}

{% block title %}CS NET | Espace-vert
{% endblock %}

{% block body %}
	<div class="service">
		<div class="herospace">
			<h1 class="txt-h1">Espace-vert</h1>
		</div>
			</div>
		<h2 class="title-h2">Service d’entretien et d’aménagement d’espace vert</h2>

	<div class="container sp">
		<div class="text-sp">

			<p>Nous vous proposons nos services pour l’entretien et l’aménagement de votre jardin. Comptez sur nous pour concevoir un espace vert esthétique et agréable et ainsi assurer sa propreté.</p>

			<p>Nos prestations concernent entre autres l’arrosage de plantes, la tonte de gazon, la taille de haies, le désherbage, le débroussaillage, l’évacuation des déchets verts, etc.</p>

			<p>À part le jardinage, nous effectuons le nettoyage d’immeubles, d’espaces communs de copropriétés, de bureaux</p>
		</div>
		<div class="img-s4"></div>
	</div>
{% endblock %}
