{% extends 'base.html.twig' %}

{% block title %}CS NET | Entretien
{% endblock %}

{% block body %}

	<div class="service">
		<div class="heroentretien">
			<h1 class="txt-h1">Entretien</h1>
		</div>
	</div>
	
	<h2 class="title-h2">Entretien de bureau, immeuble et de copropriété</h2>
	<div class="container sp">
		<div class="text-sp">

			<p>Faites appel à nos services pour le ménage des parties communes de tous bâtiments en copropriété.</p>
			<p>
				Nous nettoyons les allées, les couloirs, les ascenseurs, la cage d’escalier, le hall d’accueil, etc. Sur demande, nous effectuons aussi l’entretien de la cour et de
				<ahref="{{path('show_espace_vert')}}">l’espace vert</a>.</p>
			<p>Outre les copropriétés, nous réalisons le nettoyage de maisons individuelles, d’immeubles HLM, de locaux professionnels, etc.
			</p>
		</div>
		<div class="img-s3"></div>
	</div>

{% endblock %}
