{% extends 'base.html.twig' %}

{% block title %}CS NET |Mentions legales {% endblock %}

{% block body %}


<div class="container">
    <h1 class="m-4">Les mentions légales</h1>

    <h2>1 - Édition du site</h2>
<p>En vertu de <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164#LEGIARTI000042038977"> l'article 6 de la loi n° 2004-575 du 21 juin 2004</a> pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://csnet.fr/ l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
</p>
<p><strong>Propriétaire du site : </strong>Sedilliere Christopher - CS NET - Entrepreneur individuel - Contact : christopher.sedilliere@outlook.fr 06 11 22 22 33 - Adresse : 43 Rue du Chenival 95690 Nesles-la-vallée.</p>


<p><strong>Identification de l'entreprise :</strong> Sedilliere Christopher - CS NET - Entrepreneur individuel au capital social de € - SIREN : 877483107 - RCS ou RM : 877 483 107 - Adresse postale : 43 Rue du Chenival 95690 Nesles-la-vallée - <a href="https://csnet.fr/conditions-generales-de-vente"> https://csnet.fr/conditions-generales-de-vente</a></p>

<p><strong>Directeur de la publication :</strong> Florella Yannis - Contact : 0641493919.</p>

<p><strong>Hébergeur :</strong> AutreHOSTINGER INTERNATIONAL LTD 61 Lordou Vironos Street, 6023 Larnaca, Chypre</p>

<p><strong>Délégué à la protection des données :</strong> christopher.sedilliere - christopher.sedilliere@outlook.fr</p>



<h2>2 - Propriété intellectuelle et contrefaçons.</h2>
<p>Sedilliere Christopher - CS NET - Entrepreneur individuel est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de <strong>Sedilliere Christopher - CS NET - Entrepreneur individuel.</strong></p>

<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032655082">L.335-2 et suivants du Code de Propriété Intellectuelle.</a></p>

<h2>3 - Limitations de responsabilité.</h2>
<p>Sedilliere Christopher - CS NET - Entrepreneur individuel ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site https://csnet.fr/.</p>

<p>Sedilliere Christopher - CS NET - Entrepreneur individuel décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur https://csnet.fr/.</p>

<p>Sedilliere Christopher - CS NET - Entrepreneur individuel s’engage à sécuriser au mieux le site https://csnet.fr/, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.
</p>
<p>Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. Sedilliere Christopher - CS NET - Entrepreneur individuel se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.
</p>
<p>Le cas échéant, Sedilliere Christopher - CS NET - Entrepreneur individuel se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
</p>
<h2>4 - CNIL et gestion des données personnelles.</h2>
<p>Conformément aux dispositions de <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460">la loi 78-17 du 6 janvier 1978 modifiée</a>, l’utilisateur du site https://csnet.fr/ dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : christopher.sedilliere - christopher.sedilliere@outlook.fr.
</p>
<p>Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre <a href="https://csnet.fr/conditions-generales-de-vente"> https://csnet.fr/conditions-generales-de-vente</a>.</p> 

<h2>5 - Liens hypertextes et cookies</h2>
<p>Le site https://csnet.fr/ contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers https://csnet.fr/.</p>

<p>La navigation sur le site https://csnet.fr/ est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.</p>

<p>Un "cookie" est un fichier de petite taille qui enregistre des informations relatives à la navigation d’un utilisateur sur un site. Les données ainsi obtenues permettent d'obtenir des mesures de fréquentation, par exemple.
</p>
<p>Vous avez la possibilité d’accepter ou de refuser les cookies en modifiant les paramètres de votre navigateur. Aucun cookie ne sera déposé sans votre consentement.</p>

<p>Les cookies sont enregistrés pour une durée maximale de 12 mois.</p>

<p>Pour plus d'informations sur la façon dont nous faisons usage des cookies, lisez notre <a href="https://csnet.fr/conditions-generales-de-vente"> https://csnet.fr/conditions-generales-de-vente</a>.</p>

<h2>6 - Droit applicable et attribution de juridiction.</h2>
<p>Tout litige en relation avec l’utilisation du site https://csnet.fr/ est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Nesles-la-vallée.
</p>
 
</div>
{% endblock %}
