{% extends 'base.html.twig' %}

{% block title %}CS NET |Plan du site
{% endblock %}

{% block body %}


	<div class="plan">


		<h1 h1 class="text-center m-4">Le plan du site</h1>

		<div class="container text-center">
			<div class="row align-items-start">
			<div class="col-3">
					<a href="{{ path('show_home') }}"><h2>Acceuil</h2></a>
				</div>
				<div class="col-3">
					<a href="{{ path('show_entretien') }}"><h2>Entretien</h2></a>
				</div>
				<div class="col-3">
					<a href="{{ path('show_espace_vert') }}"><h2>Espace- vert</h2></a>
				</div>
				<div class="col-3">
					<a href="{{ path('show_contact') }}"><h2>Contact</h2></a>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}
