@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* box-shadow: 0 0 0 3px red; */
}
::selection{
    background-color: #000101;
    color: #fefeff;
}

html, body{
    height: 100%;
    scroll-behavior: smooth;
}

h3{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
h2, i{
    color: #4c5562;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}

h2{
    font-size: 40px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: #323943;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}
span{
    color: #979ca4;
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #979ca4;
    font-size: 17px;
    letter-spacing: 2px;
}

body {
    display: flex;
    flex-direction: column;
}
.content{
    flex-grow: 1;
}

.trait{
    border-bottom: 2px solid #979ca4;
    margin: 50px;
}

.checkbox{
    display: flex;
    justify-content: space-between
}

th, td {
    color: #4c5562;
}

.bg-green{
    background-color: #73cf56 !important;
}

.txt-h1{
    color: white;
    text-transform: uppercase;
    background-color: #0000003b;
    padding: 10px 50px;
    border-radius: 5px;
}

.mbp80{
    margin-bottom: 80px;
}

.mr0{
    margin-right: inherit !important;
}

/**********************bootsrap*******************/

