.service{
    width: 100%;
    height: 180px;
}

.herocontact,
.heroentretien,
.herospace {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.herospace {
    /* background-image: url(../../public/images/herospacee.jpg); */
    background: #62e1b6;
    background: -moz-linear-gradient(left, #62e1b6 0%, #8AE087 100%);
    background: -webkit-linear-gradient(left, #62e1b6 0%, #8AE087 100%);
    background: linear-gradient(to right, #62e1b6 0%, #8AE087 100%);
}

.herocontact {
    background-image: url(../../public/images/herocontact.jpg);
}

.heroentretien {
    /* background-image: url(../../public/images/heroentretien.jpg); */
    background: #56BED9;
    background: -moz-linear-gradient(left, #56BED9 0%, #64e8ea 100%);
    background: -webkit-linear-gradient(left, #56BED9 0%, #64e8ea 100%);
    background: linear-gradient(to right, #56BED9 0%, #64e8ea 100%);
}

.img-s3,
.img-s4{
    height: 500px;
    width: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter 0.4s ease;
    filter: brightness(80%);
}
.img-s3:hover,
.img-s4:hover {
    filter: brightness(100%);
}


.sp{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.text-sp{
    width: 45%;
    padding: 0 40px;
}
.title-h2{
    margin: 50px 10px;
    text-align: center;
}

/* responsive */

@media  screen and (max-width:996px){

    .sp{
        flex-direction: column-reverse;
    }
    .text-sp{
        width: 95%;
        margin: 40px 0;
    }
    .img-s3, .img-s4 {
        width: 100%;
        height: auto;
    } 
}